# venv and caches
venv/
__pycache__/
*.py[cod]

# VS Code
.vscode/

# data folders and files
cache/
out/
krx_data.db
krx_data_macro.db
krx_data_.db
logs/

# Environment variables
.env

# Data CSV files
forbidden.csv
market_sectors.csv
sector_universe.csv

# Exclude backup directory
backup/
