# VS Code
.vscode/

# Environment variables and caches
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
.envrc
.direnv/

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Cache files
docs_cache/
fetchers/krx_cache/

# Data folders and files
backup/
cache/
etc/
output/

# init files
__init__.py
fetchers/__init__.py
utils/__init__.py

# Python files (untracked)
db_checker.py
fft.py
